@charset "UTF-8";

//*************************************
//
// font-size
//
//*************************************

@mixin font-size($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}


//*************************************
//
// font-family
//
//*************************************

@mixin font-family($add:''){
  $list-gothic: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  $list-serif: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
  $list-prop: Osaka-mono, "MS Gothic", monospace;
  $list-mac: Helvetica, "Hiragino Kaku Gothic ProN", Meiryo, fantasy;
  $list-default: Meiryo, 'MS PGothic', sans-serif;

  @if $gothic {
    @if $add != ''{
      font-family: $add, $list-gothic;
    }@else{
      font-family: $list-gothic;
    }
  }
  @else if $serif {
    @if $add != ''{
      font-family: $add, $list-serif;
    }@else{
      font-family: $list-serif;
    }
  }
  @else if $prop {
    @if $add != ''{
      font-family: $add, $list-prop;
    }@else{
      font-family: $list-prop;
    }
  }
  @else if $mac {
    @if $add != ''{
      font-family: $add, $list-mac;
    }@else{
      font-family: $list-mac;
    }
  }
  @else{
    @if $add != ''{
      font-family: $add, $list-default;
    }@else{
      font-family: $list-default;
    }
  }
}
