@charset "UTF-8";

//*************************************
//
// モジュール
//
//*************************************

.caution{
  color: $red;
}
.bold{
  font-weight:bold;
}
.left{
  float:left;
}
.right{
  float:right;
}
.center{
  text-align:center;
}
.hidden{
  display: none;
}
.pm{
  display:block;
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
  outline:none;
}
.clrfix{
  @if $support-ie6 or $support-ie7 {
    *zoom: 1;
  }
  &::after{
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;height:0;
  }
}
.ellipsis{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
// marginとかpaddingのやつ
// $way:(
//   mt:margin-top,
//   mr:margin-right,
//   mb:margin-bottom,
//   ml:margin-left,
//   pt:padding-top,
//   pr:padding-right,
//   pb:padding-bottom,
//   pl:padding-left
//   );
//   @each $key,$value in $way{
//     @for $i from 0 through 1{
//       .#{$key}#{$i}{#{$value}:#{$i}px};
//     }
//   }
