@charset "UTF-8";
//*************************************
//
// ベンダープリフィックス
//
//*************************************

// ベンダープリフィックスのリストを初期化
$prefix-list:();
// (-webkit-, -moz-, -ms-, -o-, '')

// 使うものをリストに追加
@if $prefix-webkit{$prefix-list:append($prefix-list,-webkit-);};
@if $prefix-moz{$prefix-list:append($prefix-list,-moz-);}
@if $prefix-ms{$prefix-list:append($prefix-list,-ms-);}
@if $prefix-o{$prefix-list:append($prefix-list,-o-);}
@if $prefix-default{$prefix-list:append($prefix-list,'');}

// プロパティにベンダープリフィックスを使う
@mixin prefix-prop($prop,$val){
  @each $i in $prefix-list{
    #{$i}#{$prop}:#{$val};
  }
}
// 値にベンダープリフィックスを使う
@mixin prefix-val($prop,$val){
  @each $i in $prefix-list{
    #{$prop}:#{$i}#{$val};
  }
}
// プロパティと値の両方にベンダープリフィックスを使う
@mixin prefix-both($prop,$val){
  @each $i in $prefix-list{
    #{$i}#{$prop}:#{$i}#{$val};
  }
}

//*************************************
//.h1{ @include prefix-val(transform,rotate(90deg));}
//.h2{ @include prefix-both(transition,transform 0.5s linear);}
//.h3{ @include prefix-val(display,box);}
//*************************************
