/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$sprite-8tnu010000b1z9f1-x: 1252px;
$sprite-8tnu010000b1z9f1-y: 0px;
$sprite-8tnu010000b1z9f1-offset-x: -1252px;
$sprite-8tnu010000b1z9f1-offset-y: 0px;
$sprite-8tnu010000b1z9f1-width: 640px;
$sprite-8tnu010000b1z9f1-height: 360px;
$sprite-8tnu010000b1z9f1-total-width: 1892px;
$sprite-8tnu010000b1z9f1-total-height: 894px;
$sprite-8tnu010000b1z9f1-image: '#{$img-path}/sprite.png';
$sprite-8tnu010000b1z9f1: 1252px 0px -1252px 0px 640px 360px 1892px 894px '#{$img-path}/sprite.png';
$sprite-comments2-x: 228px;
$sprite-comments2-y: 0px;
$sprite-comments2-offset-x: -228px;
$sprite-comments2-offset-y: 0px;
$sprite-comments2-width: 512px;
$sprite-comments2-height: 465px;
$sprite-comments2-total-width: 1892px;
$sprite-comments2-total-height: 894px;
$sprite-comments2-image: '#{$img-path}/sprite.png';
$sprite-comments2: 228px 0px -228px 0px 512px 465px 1892px 894px '#{$img-path}/sprite.png';
$sprite-comments3-x: 740px;
$sprite-comments3-y: 0px;
$sprite-comments3-offset-x: -740px;
$sprite-comments3-offset-y: 0px;
$sprite-comments3-width: 512px;
$sprite-comments3-height: 403px;
$sprite-comments3-total-width: 1892px;
$sprite-comments3-total-height: 894px;
$sprite-comments3-image: '#{$img-path}/sprite.png';
$sprite-comments3: 740px 0px -740px 0px 512px 403px 1892px 894px '#{$img-path}/sprite.png';
$sprite-comments4-x: 1252px;
$sprite-comments4-y: 360px;
$sprite-comments4-offset-x: -1252px;
$sprite-comments4-offset-y: -360px;
$sprite-comments4-width: 512px;
$sprite-comments4-height: 339px;
$sprite-comments4-total-width: 1892px;
$sprite-comments4-total-height: 894px;
$sprite-comments4-image: '#{$img-path}/sprite.png';
$sprite-comments4: 1252px 360px -1252px -360px 512px 339px 1892px 894px '#{$img-path}/sprite.png';
$sprite-comments5-x: 372px;
$sprite-comments5-y: 510px;
$sprite-comments5-offset-x: -372px;
$sprite-comments5-offset-y: -510px;
$sprite-comments5-width: 512px;
$sprite-comments5-height: 363px;
$sprite-comments5-total-width: 1892px;
$sprite-comments5-total-height: 894px;
$sprite-comments5-image: '#{$img-path}/sprite.png';
$sprite-comments5: 372px 510px -372px -510px 512px 363px 1892px 894px '#{$img-path}/sprite.png';
$sprite-gulp-2x-x: 0px;
$sprite-gulp-2x-y: 0px;
$sprite-gulp-2x-offset-x: 0px;
$sprite-gulp-2x-offset-y: 0px;
$sprite-gulp-2x-width: 228px;
$sprite-gulp-2x-height: 510px;
$sprite-gulp-2x-total-width: 1892px;
$sprite-gulp-2x-total-height: 894px;
$sprite-gulp-2x-image: '#{$img-path}/sprite.png';
$sprite-gulp-2x: 0px 0px 0px 0px 228px 510px 1892px 894px '#{$img-path}/sprite.png';
$sprite-kuma-x: 0px;
$sprite-kuma-y: 510px;
$sprite-kuma-offset-x: 0px;
$sprite-kuma-offset-y: -510px;
$sprite-kuma-width: 372px;
$sprite-kuma-height: 384px;
$sprite-kuma-total-width: 1892px;
$sprite-kuma-total-height: 894px;
$sprite-kuma-image: '#{$img-path}/sprite.png';
$sprite-kuma: 0px 510px 0px -510px 372px 384px 1892px 894px '#{$img-path}/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
