@charset "UTF-8";

h1{
  color: brown;
}
body{
  @include font-family();
  font-size: 1.2rem;
  font-feature-settings:"liga" 1;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.icon{
  @include min-screen(1000){
    @include sprite($sprite-free-illust35785);
  }
  @include iphone5{
    @include sprite-retina($sprite-200910292259590f7);
  }
}




//*************************************
//
// 高度な使い方
//
//*************************************


/*
ボタンの例
*/

// 引数にデフォルト値有り無しが混在する場合は、値無しが先に来ないとエラーになる
@mixin btn-base($bg-color, $width:200px, $height:50px, $color:#000){
  display: inline-block;
  color: $color;
  width: $width;
  height: $height;
  line-height: $height;
  background-color: $bg-color;
  padding:0 10px;
  border-radius: 10px;
  text-align: center;
  &:hover{
    background-color:rgba($bg-color,0.5);
  }
}

.default-btn{
  @include btn-base(#ccc);
}
.submit-btn{
  @include btn-base(blue, 300px, 100px, #fff);
}
.cancel-btn{
  @include btn-base(red, 300px, 100px);
}
