@mixin sprite-width-retina($sprite) {
  width: nth($sprite, 5) / 2;
}

@mixin sprite-height-retina($sprite) {
  height: nth($sprite, 6) / 2;
}

@mixin sprite-position-retina($sprite) {
  $sprite-offset-x: nth($sprite, 3)/2;
  $sprite-offset-y: nth($sprite, 4)/2;
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image-retina($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite-size-retina($sprite) {
  background-size: nth($sprite, 7)/2 nth($sprite, 8)/2;
}

@mixin sprite-retina($sprite) {
  @include sprite-image-retina($sprite);
  @include sprite-position-retina($sprite);
  @include sprite-width-retina($sprite);
  @include sprite-height-retina($sprite);
  @include sprite-size-retina($sprite);
  // @extend .pm; media query内でextendが使えない
}
